:root {
    --foo-bar: 1rem;
}

.moo {

    top: calc(1rem + 2rem);
    bottom: 1rem;

    transform: translate(1, 1) scale(3);

    background: #ffa;

    color: white;

    font-family: 'Times New Roman', 'Times', serif;
    font-weight: bold;

    line-height: 0.5;

}

.moo:hover {

    transform: translate(
            1,
            1
    );

    background: url('data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=');

}

.foo {

    display: flex;

    top: 1.25rem;
    bottom: 0;

    background-size: 0, 0;

}

.bar {

    transition: background-color 500ms linear;

    content: 'foo bar';
}

.container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;

    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

@media screen and (color), projection and(color) {

    .ba,
    .bb {
        color: pink;
    }
}

@media {

    .ba,
    .bb {
        color: pink;
    }
}

.alpha {

    background: red;

    color: black;

}
